#product-count {
  margin-bottom: 0;
  margin-right: 76%;
  vertical-align: top;
}
#cart {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
#cart-grid {
  margin-top: 0.6%;
  padding: 2.5% 0 1.5% 0;
}
.cart-link {
  width: 61%;
  padding-right: 13%;
}
.cart-header {
  width: 45%;
  padding-right: 13%;
  float: right;
}
.parenthesis {
  color: #ff851b !important;
}
.parenthesis::before {
  content: "\0028" !important;
}
.parenthesis::after {
  content: "\0029" !important;
}
.red-close-icon {
  margin: 0 3rem 2rem 0 !important;
}
.small-input {
  font-size: 1.2rem !important;
}
