#product-count {
  margin-bottom: 0;
  margin-right: 79%;
  vertical-align: top;
}
#cart {
  width: 75%;
  padding-right: 29%;
}
#cart-grid {
  padding-top: 0.1%;
}
.cart-header {
  width: 42%;
  padding-right: 13%;
  float: right;
}
.parenthesis::before {
  content: "(" !important;
}
.parenthesis::after {
  content: ")" !important;
}
.compact-icon {
  margin-right: 0.1% !important;
}
