body {
  min-width: 1075px;
}
#amaRomach-logo {
  padding-top: 0;
  padding-left: 0;
}
#amaRomach-search-bar {
  padding-bottom: 0;
  margin-top: 6%;
}
#browse-item {
  padding: 6.8% 0 0 0;
  margin-left: 1%;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.compact-icon {
  margin-left: 0.5% !important;
}
#browse-container {
  padding-right: 0;
  padding-left: 0;
}
#product-count {
  margin-bottom: 0;
  margin-right: 79%;
  vertical-align: top;
}
#cart {
  width: 75%;
  padding-right: 29%;
}
#cart-grid {
  padding-top: 0.1%;
}
.cart-header {
  width: 42%;
  padding-right: 13%;
  float: right;
}
.parenthesis::before {
  content: "(" !important;
}
.parenthesis::after {
  content: ")" !important;
}
.compact-icon {
  margin-right: 0.1% !important;
}
.amaRomach-card {
  flex: 1 !important;
  flex-basis: 0 !important;
}
#total-price {
  margin-left: 6% !important;
}
.header-link:hover {
  color: #aca220 !important;
  text-decoration: underline !important;
}
.card-image:hover {
  filter: brightness(120%) !important;
}
