body {
  min-width: 1047px;
}
#amaRomach-logo {
  padding-top: 0;
  padding-left: 0;
}
#amaRomach-search-bar {
  padding-bottom: 0;
  margin-top: 6%;
}
#browse-item {
  padding: 6.8% 3% 0 0;
  margin-left: 1%;
}
.margin-top-zero {
  margin-top: 0;
}
.padding-bottom-zero {
  padding-bottom: 0 !important;
}
.padding-left-zero {
  padding-left: 0;
}
.compact-icon {
  margin-left: 0.5% !important;
}
#browse-container {
  margin: 3.95% 0 0 1%;
  padding-right: 0;
}
