body {
  min-width: 1075px;
}
#amaRomach-logo {
  padding-top: 0;
  padding-left: 0;
}
#amaRomach-search-bar {
  padding-bottom: 0;
  margin-top: 6%;
}
#browse-item {
  padding: 6.8% 0 0 0;
  margin-left: 1%;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.compact-icon {
  margin-left: 0.5% !important;
}
#browse-container {
  padding-right: 0;
  padding-left: 0;
}
.inherited-background div {
  background-color: inherit;
}
