@margin-zero: 0;
@padding-zero:0;
@link-hover-color: rgb(172, 162, 32);

#prodect-count {
    margin-bottom: @margin-zero;
    padding-right: 1.25rem;
    margin-right: 0.4rem;
}

#amaRomach-logo {
    padding-top: @padding-zero;
    padding-left: @padding-zero;
}
#amaRomach-search-bar {
    padding-bottom: @padding-zero;
}

#browse-item {
    padding: 1rem 1rem @padding-zero 0;
}

.padding-bottom-zero {
    padding-bottom: @padding-zero !important;
}

.compact-icon {
    margin-left: 0.4rem !important;
}

.header-link {
    &:hover {
        color: @link-hover-color !important;
        text-decoration: underline !important;
    }
}
.card-image {
    &:hover {
        filter: brightness(120%) !important;
    }
}

#total-price {
    margin-left: 3em !important;
}

.amaRomach-cart-item {
    margin-left: 1.5em !important;
}

.red-close-icon {
    margin: 0 2rem 0 0 !important;
}

