@margin-zero: 0;
@padding-zero:0;
@link-hover-color: rgb(172, 162, 32);
body {
    min-width: 1047px;
}

#amaRomach-logo {
    padding-top: @padding-zero;
    padding-left: @padding-zero;
}
#amaRomach-search-bar {
    padding-bottom: @padding-zero;
    margin-top: 6%;
}

#browse-item {
    padding: 6.8% 3% @padding-zero 0;
    margin-left: 1%;
}

.margin-top-zero {
    margin-top: 0;
}


.padding-bottom-zero {
    padding-bottom: @padding-zero !important;
}

.padding-left-zero {
    padding-left: 0;
}

.compact-icon {
    margin-left: 0.5% !important;
}

#browse-container {
    margin: 3.95% 0 0 1%;
    padding-right: 0;
  }